#clockdiv{
	font-family: 'Roboto', sans-serif;
	color: red;
	display: inline-block;
	font-weight: 300;
	text-align: center;
	font-size: 1.5em;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 0;
	background: transparemt;
	display: inline-block;
}

#clockdiv div > span{
	padding: 10px;
	border-radius: 3px;
	background-color: black;
   	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 0.8em;
    color: white;
}