body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    position: relative;
    width: 100%;
    padding: 0 100px;
    background: #262626;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
}

nav ul {
    text-align: right;
    position: relative;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 35px 40px 30px;
}

nav ul a:hover,
nav ul a.active {
    background: #fff;
    color: #000;
}

.toggle {
    width: 100%;
    background: #262626;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
    display: none;
}

.toggle span {
    color: #262626;
    background: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 150px;
    padding-top: 5px;
}

@media (max-width: 767px) {
    .toggle {
        display: block;
    }
    
    nav {
        padding: 0;
    }
    
    nav ul {
        text-align: center;
        display: none;
    }
    
    .show-menu {
        display: block;
        
    }
    
    nav ul li {
        display: block;
    }
}